<div onclick="location.href='{%url 'account:details'%}';" class="artical">
					<div class="col-md-4 artical-left">
						<a href="#"><img src="{% static 'account/image/post2.jpg' %}" title="post-name" /></a>
					</div>
					<div class="col-md-8 artical-right">
						<div class="artical-head">
							<h2><a href="#">consectetur</a></h2>
							<a href="#"><span class="rate"> </span></a>
							<div class="clearfix"> </div>
						</div>
						<div class="clearfix"> </div>
						<!-- artical-info -->
						<div class="artical-info">
							<p><strong>Release Date:</strong>  March 20, 2014,</p>
							<p><strong>Reched:</strong>$250 million</p>
							<p><strong>Genre:</strong>pop</p>
							<p><strong>Country:</strong>UK</p>
							<p><strong>singer:</strong> adipiscing</p>
							<p><strong>casting:</strong> <a href="#">Donec</a>,<a href="#">variu</a>,<a href="#">mauris</a>,<a href="#">sociis</a></p>
						</div>
						<!-- artical-info -->
					</div>
					<div class="clearfix"> </div>
				</div></html>



<div onclick="location.href='{%url 'account:details'%}';" class="artical">
					<div class="col-md-4 artical-left">
						<a href="#"><img src="{% static 'account/image/post3.jpg' %}" title="post-name" /></a>
					</div>
					<div class="col-md-8 artical-right">
						<div class="artical-head">
							<h2><a href="#">adipiscing</a></h2>
							<a href="#"><span class="rate"> </span></a>
							<div class="clearfix"> </div>
						</div>
						<div class="clearfix"> </div>
						<!-- artical-info -->
						<div class="artical-info">
							<p><strong>Release Date:</strong>  March 20, 2014,</p>
							<p><strong>Reched:</strong>$250 million</p>
							<p><strong>Genre:</strong>pop</p>
							<p><strong>Country:</strong>UK</p>
							<p><strong>singer:</strong> adipiscing</p>
							<p><strong>casting:</strong> <a href="#">Donec</a>,<a href="#">variu</a>,<a href="#">mauris</a>,<a href="#">sociis</a></p>
						</div>
						<!-- artical-info -->
					</div>
					<div class="clearfix"> </div>
				</div>



<div onclick="location.href='{%url 'account:details'%}';" class="popular-allbum">
					<div class="popular-allbum-pic">
						<a href="#"><img src="{% static 'account/image/post4.jpg' %}" title="name" /></a>
					</div>
					<div class="popular-allbum-info">
						<h3><a href="#">Nascetur</a></h3>
						<p><strong>Release Date:</strong> March 20, 2020,</p>
						<p><strong>Country:</strong> CH,</p>
						<p><strong>casting:</strong> <a href="#">Donec</a>,<a href="#">variu</a>,<a href="#">mauris</a>,<a href="#">sociis</a></p>
					</div>
					<div class="clearfix"> </div>
				</div>